<!-- Display requested location using Leaflet JS Map Library -->
<!-- https://leafletjs.com/index.html -->

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin="">
</script>

<div class="row py-3">
	<div class="col-md-3"></div>
	<div id="results-map" class="col-md-6 rounded"></div>
	<div class="col-md-3"></div>
</div>

<script>
var MAPBOX_KEY = "{{ MAPBOX_KEY }}" ;
var LATITUDE_NO = {{ data.latitude }};
var LONGITUDE_NO = {{ data.longitude }};
</script>
<script src="map.js">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<div class="row py-3">
	<div class="col-md-4"></div>
	<div class="col-md-4 rounded border border-dark text-center">
	<h4 class="pt-2">Results for {{data.location}}</h4>
	<h5>{{data.confirmed}} Cases Confirmed</h5>
	<h5>{{data.dead}} Deaths Confirmed</h5>
	<h5 class="pb-2">{{#if data.recovered}}{{data.recovered}} Recovered{{/if}}</h5>
	</div>
	<div class="col-md-4"></div>
</div>

{{> homebtn}}

